.error-message {
  color: red !important;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red !important;
}

.main-div {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.forSignin p {
  color: blue;
  cursor: pointer;
  font-size: 15px;
}

.forSignin{
    display: flex;
    flex-direction: column;
}

.main-div h3{
    text-align: center;
}
