* {
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-inner {
  margin-top: 30px;
  margin-right: 20px;
}
