.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

#frm {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  box-shadow: 2px 2px 10px lightblue;
  margin-bottom: 10px;
}

.navbar .name {
  font-size: 15px;
}

.navbar .drop-menu {
  size: 20px;
}

.me-auto a {
  text-decoration: none;
  color: #737373;
}

.logo a {
  color: black !important;
  text-decoration: none;
}

.cards-inner .text b {
  text-align: left;
  margin-left: 5px;
  text-decoration: underline;
}

.cards-inner .text b:hover {
  color: rgb(128, 128, 251);
  text-decoration: none;
  cursor: pointer;
}

.comment-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.comments-show-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comments-show-div .each-comment {
  padding: 10px;
  margin: 10px;
  background: #f1f2f5;
  border-radius: 20px;
  width: 40vw;
}

.each-comment b {
  text-decoration: underline;
}

.each-comment b:hover {
  color: rgb(128, 128, 251);
  text-decoration: none;
  cursor: pointer;
}
